footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; min-height: 390px;
    background: $Very_Light_Gray;
    > img.desktop {
        left: 0;
        position: absolute; z-index: 1;
    }
    > img.mobile {
        position: absolute;
        display: none;
    }
}

.foot {
    position: relative; z-index: 3;
    padding: 65px 0 0 0;
    @include Width;
    > span {
        margin: 34px 0 45px;
        display: block;
        width: 100%; height: 1px;
        background: lighten($Dark_Grayish_Violet, 25);
    }
    &__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div:last-child {
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg {
                height: 100%;
                path {
                    transition: 200ms ease;
                }
            }
        }
    }
    &__navi {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &__section {
            font-family: $bodyFont;
            text-transform: uppercase;
            font-weight: 700;
            h4 {
                font-size: 0.9375em;
                color: $Dark_Grayish_Violet;
                margin-bottom: 35px;
            }
            div {
                flex-direction: column;
                display: flex;
                a {
                    color: $Dark_Violet;
                    font-size: 0.9375em;
                    width: max-content;
                    position: relative;
                    transition: 200ms ease;
                    margin: 0 0 15px 0;
                    font-weight: 700;
                }
                > a:last-child {
                    margin: 0;
                }
                > a::after {
                    position: absolute;
                    content: ""; opacity: 0;
                    bottom: 0;
                    left: 0; right: 0;
                    width: 100%; height: 1px;
                    background: $Dark_Violet;
                    transition: 200ms ease;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    footer {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%; min-height: 390px;
        background: $Very_Light_Gray;
        > img.desktop {
            display: none;
        }
        > img.mobile {
            display: initial;
            left: 0;
        }
    }
    .foot {
        padding-bottom: 80px;
    }
    .foot__navi {
        grid-template-columns: repeat(2, 1fr);
    }
    .foot__navi__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        > div {
            flex-direction: column;
            align-items: center;
        }
    }
    .foot__navi__section:nth-child(3),
    .foot__navi__section:nth-child(4) {
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    footer {
        > img.mobile {
            display: initial;
            left: 0;
            width: 100%;
        }
    }
    .foot {
        > span {
            margin: 40px 0;
        }
        padding: 80px 0;
    }
    .foot__icon {
        > div:first-child {
            margin-bottom: 25px;
        }
        flex-direction: column;
        justify-content: initial;
        align-items: center;
    }
    .foot__navi {
        grid-template-columns: repeat(1, 1fr);
    }
    .foot__navi__section:nth-child(3),
    .foot__navi__section:nth-child(4),
    .foot__navi__section:nth-child(2) {
        margin-top: 35px;
    }
}
