.head {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &__parttern {
        top: 0; bottom: 0;
        left: 0; right: 0;
        position: absolute; z-index: 1;
        > img:nth-child(1) {
            position: absolute;
            left: 0;
            bottom: -330px;
        }
        > img:nth-child(2) {
            position: absolute;
            right: 0; top: 0;
        }
        > img.mobile {
            display: none;
        }
    }
    &__nav {
        position: relative; z-index: 5;
        width: 100%; height: 80px;
        background: white;
        display: flex;
        justify-content: center;
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include Width; height: 100%;
            .nav_link {
                width: 450px; height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                > button {
                    text-transform: uppercase;
                    font-family: $bodyFont;
                    width: 146px; height: 40px;
                    background: transparent;
                    font-size: 0.875em;
                    font-weight: 700;
                    border: 2px solid $Dark_Violet;
                }
                > a {
                    text-transform: uppercase;
                    font-family: $bodyFont;
                    font-size: 0.875em;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: $Dark_Grayish_Violet;
                }
            }
            .nav_ham {
                width: 32px; height: 32px;
                border: 2px solid $Dark_Violet;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                > span {
                    display: block;
                    background: $Dark_Violet;
                    width: 16px; height: 2px;
                    transition: 250ms ease-in-out;
                }
                > span:nth-child(2) {
                    margin: 3px 0;
                }
            }
            .nav_ham.open {
                > span {
                    margin-right: -10px;
                }
                > span:nth-child(1) {
                    width: 24px;
                    transform: rotate(45deg) translateY(7px);
                }
                > span:nth-child(2) {
                    opacity: 0;
                }
                > span:nth-child(3) {
                    width: 24px;
                    transform: rotate(-45deg) translateY(-7px);
                }
            }
        }
    }
    &__intro {
        background-color: $Dark_Violet;
        padding-top: 105px;
        width: 100%; height: 600px;
        display: flex;
        justify-content: center;
        &__container {
            position: relative;
            display: flex;
            @include Width;
            > img {
                width: 540px;
                position: absolute;
                right: 0;
            }
            > div {
                position: relative; z-index: 3;
                span {
                    display: block;
                    background: $Very_Light_Gray;
                    width: 150px; height: 1px;
                }
                h1 {
                    margin: 60px 0 25px 0;
                    font-family: $headingFont;
                    font-size: 4.35em;
                    font-weight: 400;
                    color: $Very_Light_Gray;
                    line-height: 1;
                }
                p {
                    font-weight: 400;
                    width: 54ch;
                    font-size: 1em;
                    font-family: $bodyFont;
                    color: $Very_Light_Gray;
                    line-height: 1.8;
                }
                button {
                    margin-top: 30px;
                    font-family: $bodyFont;
                    text-transform: uppercase;
                    width: 145px; height: 40px;
                    border: 2px solid $Very_Light_Gray;
                    background: transparent;
                    color: $Very_Light_Gray;
                    font-size: 0.875em;
                    letter-spacing: 1px;
                    font-weight: 700;
                }
            }
        }
    }
}

.navmenu {
    position: absolute; z-index: 10;
    top: 80px; bottom: 0;
    left: 0; right: 0;
    height: 0;
    background: $Very_Dark_Violet;
    display: none; opacity: 1;
    justify-content: center;
    transition: 300ms ease-in-out;
    > div {
        margin-top: 20px;
        display: flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        transition: 300ms ease-in-out;
        > a {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 30px;
            font-size: 1.25em;
            font-family: $bodyFont;
            color: $Very_Light_Gray;
        }
        button {
            font-family: $bodyFont;
            text-transform: uppercase;
            background: transparent;
            border: 2px solid white;
            margin-top: 40px;
            color: $Very_Light_Gray;
            font-size: 1.25em;
            width: 325px; height: 50px;
        }
    }
}


@media screen and (max-width: 1150px){
    .head__intro__container {
        > img {
            width: 350px;
            right: 50%; bottom: -340px;
            transform: translateX(50%);
        }
    }
}

@media screen and (max-width: 900px){
    .head__intro {
        padding-top: 40px;
    }
    .head__intro__container {
        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: none;
            }
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .head__nav__container {
        .nav_link {
            display: none;
        }
        .nav_ham {
            display: flex;
        }
    }
    .head__parttern {
        img.desktop {
            display: none;
        }
        img.mobile {
            position: absolute;
            display: initial;
        }
        > img:nth-child(3) {
            top: 80px; left: 0;
        }
        > img:nth-child(4) {
            bottom: -180px; right: 0;
        }
    }
}

@media screen and (max-width: 600px){
    .head__intro__container {
        > div {
            h1 {
                margin: 60px 0 25px 0;
                font-size: 2.75em;
            }
            p {
                width: 32ch;
                font-size: 1em;
            }
        }
    }
}

@media screen and (max-width: 450px){
    .head__intro__container {
        > img {
            width: 325px;
            right: 50%; bottom: -350px;
            transform: translateX(50%);
        }
    }
}
